### --- .NET Core / C# --- ###
bin/
obj/
*.exe
*.dll
*.pdb
*.user
*.suo
*.sln.docstates
.idea/
*.sln.iml
.idea/workspace.xml
.idea/shelf/
.idea/contentModel.xml
.vscode/
.DS_Store
Thumbs.db
.directory
appsettings.json
*.env